header{
    background-color: rgb(0, 149, 255);
    color: white;
    height: 10vh;
}

header div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 40px;
}

header div h1{
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    color: yellow;
    text-transform: uppercase;
}

header div strong{
    color: red;
}