*{
    margin: 0;
    padding: 0;
    font-family: sans-serif , Verdana;
    box-sizing: border-box;
}

body{
    background-color: darkgray;
}

.main{
    max-height: 100vh;
}

.ioBox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}